.cart {
  margin: 40px 0px;
  &-container {
    display: flex;
    max-width: 1100px;
    margin: auto;
    gap: 40px;
  }
  &-heading {
    margin-bottom: 10px;
    font-size: 2.2em;
    line-height: 160%;
  }
  &-left {
    flex-grow: 2;
    // border:1px solid red;
  }
  &-right {
    // border:1px solid red;
    flex-grow: 1;
    table {
      tr:last-child {
        td {
          a {
            width: 100%;
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
  &-icon-delete {
    img {
      margin: 0 3px;
    }
    ion-icon{
      color:red;
      font-size:2em
    }
  }
  &-coupon{
    color:red($color: #000000);
    font-size:1.2em;
    font-style: italic;
    font-weight: 500;
    width: 50px;
  }
  

  // &-total-btn {
  //   width: 100%;
  //   display: block;
  //   text-align: center;
  //   // color:red;
  // }
  &-total-tr {
    border-bottom: none !important;
    // color:red;
    // border:1px solid red;
  }
  th {
    text-align: left;
  }
  th,
  td {
    padding: 15px 10px;
  }
  tr:first-child {
    border-bottom: 2px solid black;
  }
  tr {
    border-bottom: 1px solid black;
  }
  tr:last-child {
    border-bottom: none;
  }
  td:last-child {
    padding: 25px 0px;
  }
  td img {
    width: 50px;
    height: 70px;
  }
}
.update-button{
 
  // border:1px solid blue;
  text-align: right;
}
@include forMobie {
  .cart {
    padding: 23px;
    &-container {
      flex-direction: column;
    }
  }
  .cart-coupon {
    display: none;
  }
  .update-button{
    text-align: left;
  }
}
