.carousel {
  font-family: Citrus;
  padding: 0 45px;
  // margin:100px 0px;
  //   margin:0px 0px 40px 0px;
  &-main {
    background: $primary-color;
  }
  &-container {
    max-width: 1300px;
    padding: 80px 200px 0px 200px;
    display: flex;
    margin: auto;
  }
  &-left {
    padding: 200px 0px;
    flex-grow: 1;
    width: 50%;
  }
  &-right {
    flex-grow: 1;
    width: 50%;
  }
  //   &-img {
  //     width: 100%;
  //     height: 100%;
  //     img {
  //       width: 100%;
  //       height: 100%;
  //       display: block;
  //     }
  //   }
  &-desc {
    margin: 50px 0px;
    p:first-child {
      // margin:0px 0px 0px 100px;
      text-transform: uppercase;
      margin: 0px 0px 20px 0px;
    }
    p:last-child {
      text-transform: uppercase;
      font-size: 2em;
      line-height: 1.4em;
      margin: 2 0px 0px;
    }
  }
  &-img {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
@include forMobie{
    .carousel{
      padding: 13px;
      &-main{
        margin:auto;
      }
      &-container{
        text-align: center;
        padding:0px;
        display:block;
        margin:auto;
      }
      &-left{
        width:100%;
        padding:3em 0px;  
      }
      &-right{
        display:none;
      }
      &-desc{
        // text-align: center;
        
      }
    }
}
