
* {
  font-family: "Inconsolata", monospace;
  font-family: "Roboto", sans-serif;
  // box-sizing: border-box;
  // box-sizing: border-box;
}
html,body{
  overflow-x: hidden;
}
.btn {
  border-radius: 30px;
  background-color: $button-color;
  font-size: 0.8em;
  color: #282828;
  // border:1px solid red;
  padding: 15px 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}
body {
  // loader
  // opacity:0.5;
  position: relative;
}
a {
  color: black;
}

.Disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
