.product {
  padding: 110px 24px 0px 24px;
  background: $product-color;
  position: relative;
  &-container {
    display: flex;
    max-width: 1100px;
    margin: auto;
    gap: 100px;
    padding: 24px 0px 64px 24px;
  }
  &-left {
    width: 45%;
  }
  &-right {
    width: 45%;
  }
  &-img {
    width: 100%;
    // height: 100%;
    img {
      border: 3px solid black;
      border-radius: 10px;
      width: 100%;
      // height: 100%;
      display: block;
    }
  }
  &-content {
    margin: 137px 0px;
  }
  &-heading,
  &-price {
    margin-bottom: 17px;
    // border:1px solid red;
  }
  &-image {
    position: relative;
  }
  &-small-quantity {
    position: absolute;
    top: -10px;
    right: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border:1px solid red;
    border-radius: 50%;
    // padding:2px;
    font-size:0.8em;
    color:white;
    background: $quotes-color;
    height: 19px;
    width: 19px;
  }
  &-desc {
    font-weight: 300;
    line-height: 1.2em;
  }
  &-heading {
    font-size: 2.2em;
    line-height: 2.2em;
    text-transform: uppercase;
  }
  &-btn {
    margin-top: 40px;
    // display: flex;
    // flex-direction: column;
  }
  &-back {
    ion-icon {
      font-size: 1.5em;
    }
    position: absolute;
    left: 50px;
    top: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 300;
    font-size: 0.9em;
    text-transform: uppercase;
  }
}
.cart-btn a,
.demo-btn a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  // height: 50px;
}
.demo-btn a:hover{
  background: $product-btn-line-color;
  color:white;
}
.cart-btn {
  margin: 20px 0px;
  // color:$prodcut-btn-color;
}
.cart-btn a{
  width: 200px;

}
.demo-btn a {
  border: 1px solid $product-btn-line-color;
  background: $product-color;
  color: $product-btn-line-color;
  width: 198px;

}

@include forMobie {
  .product {
    padding: 110px 23px 23px 23px;
    // padding: 110px 24px 0px 24px;

    &-container {
      flex-direction: column;
      gap: 30px;
      padding: 0px;
    }
    &-content {
      margin: 20px 0px;
    }
    &-heading,
    &-price {
      margin-bottom: 30px;
      // border:1px solid red;
    }
    &-heading {
      line-height: 1.3em;
    }
    &-left {
      width: 100%;
    }
    &-right {
      width: 100%;
    }
  }
}
